@import "bootstrap/mixins";
@import "_fadein.scss";

//Common Widths
$card_width: 300px;

//Colors
$color_shade : #E5E5E5;
$color_dark : #333;
$color_light : #fff;
$color_alt_light : #DB1871;
$color_alt_dark : #188ADB;
$color_section_border : #ADA6A6;

//Font Sizes
$font_small : 1.3rem;

body{
    font-family: 'ralewayregular',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul {
    list-style-type: none;
}

.fadeable {
    
    @include fade_in(1s);


    &.show {
        @include opacity(1);
    }

}

nav.fadeable {
    @include fade_in(.5s);
}

.navbar,
.navbar-fixed-bottom, 
.navbar-fixed-top {
    z-index: 5;
}

.navbar-inverse .navbar-brand {
    color: $color_light;
}

.navbar:after {
    background: $color_light;    
    bottom: -1px;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}

.navbar.show:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.light-header {
    font-size: 3rem;
    font-weight: 200;
    color: $color_dark;
}

.light-shade {
    background-color: #E7E7E7;
}

.container-flex {
    padding-left: 5%;
}

.bordered-container {
    border-top: 1px solid $color_section_border;
    border-bottom: 1px solid $color_section_border;
}

.jumbotron {
  background: url(milkyway_2.jpg) no-repeat 0px -300px;
  background-size: cover;
  color: $color_light;
  margin: 0;
  padding: 100px 0;

}

.bio {
    padding: 0 1.3em;

    p {
        font-size: 1.6rem;
    }
}

.card {

    box-shadow: 0px 0px 1px #333;
    margin: auto;
    text-align: center;
    width: $card_width;

    @include border-top-radius(5px);

    .bd {
        background-color: $color_light;
        color: $color_dark;
        padding-bottom: 20px;
        position: relative;

        @include border-bottom-radius(5px);
    }

    .card-photo {
        
        width: 100%;
    }

    h2, h3 {
        margin: 0; 
    }

    h3 {
        font-size: $font_small;
        font-weight: 200;
        margin-top: 5px;
    }

    .avatar {
        border: 3px solid $color_light;
        margin: -50px 0 0 0;

        @include border-radius(50%);

        &.static {
            position: fixed;
            top: 50px;
            z-index: 10;
            margin-left: -50px;
        }
    }

    ul {
        margin: 1em 0 0 1em;
        display: inline-block;
        padding: 0;
    }

    li {
        display: inline-block;
        margin-right: 1em;


        a {
            color: $color_dark;
        }
    }
}


figure {

    background-color: $color_shade;
    height: 325px;
    margin: 0 auto 40px auto;
    overflow: hidden;
    position: relative;
    width: $card_width;

    @include border-bottom-radius(5px);

    figcaption {
        background-color: $color_light;
        padding: 0 10px 10px;
        height: 325px;

    }

    h2 {
        font-size: $font_small;
        margin: 0;
        padding-top: 0.5em;
    }

    img {
        width: $card_width;
        @include border-top-radius(5px);
    }

    p {
        font-size: $font_small;
    }


}

.links {
    background-color: $color_dark;
    color: $color_light;
    padding: 10px 0 20px;


    a, 
    a:visited {
        color: $color_alt_light;
    }

    a:hover {
        color: $color_alt_dark;
        text-decoration: none;
    }
    
    li {
        text-align: center;
    }

}

footer {
    padding: 0.5em 0 3em .5em;
    font-size: $font_small;

}

