@import "bootstrap/mixins";

$card_width: 300px;
$color_shade : #E5E5E5;

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
  background: url(milkyway_2.jpg) no-repeat 0px -300px;
  background-size: cover;
  color: #fff;

}




figure {

    background-color: $color_shade;
    height: 23em;
    margin-bottom: 2em;
    overflow: hidden;
    position: relative;
    width: $card_width;


    @include border-bottom-radius(5px);
    @include border-left-radius(5px);
    

    figcaption {
        padding: 0 10px 10px;
    }


    img {
        width: $card_width;
        height: 200px;
        @include border-top-radius(5px);
        @include border-right-radius(5px);
    }

    h2 {
        font-size: 22px;
    }
}
